  <!-- Footer section -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <p class="display-6 navbar-text"> 2022. All Rights Reserved. Bhagyesh Bhavsar</p>
    </div>
  </nav>
</footer>