<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<main class="container">
    <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to Bhagyesh's Portfolio</h1>
    <p>Hi, everyone! I am a student at Centennial college.</p>
    <p> <a href="/about"> Learn more...</a></p>
    <h2 class="display-4">Mission Statement</h2>
    </div>
    <p>Jai Swaminarayan</p>
    <p>I am learning to pave my way into the world of computers.</p>
  </main>
<%- include partials/bottom_nav.ejs%> 
<%- include partials/footer.ejs%>
